Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -*-braces-around-statements,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-identifier-length,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -bugprone-easily-swappable-parameters,
  -*-magic-numbers,
  -readability-function-cognitive-complexity,

WarningsAsErrors: '*'

CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
